html
  head
    title= "update"
  body
    form(action="", method="get")
        input(type="text" name="updateValue" value="ethica")
        input(type="hidden" name="jobId" value=jobId)
        input(type="hidden" name="fieldId" value=fieldId)
        input(type="submit"  value="save")